* {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  outline: 2px solid red;
}

.container1 {
  width: 100%;
  height: 823px;
  background-size: cover;
  background-image: url(../images/cover.png);
  background-repeat: no-repeat;
  font-family: Montserrat;
  text-decoration: none;
  list-style-type: none;
}

.navbar {
  width: 96%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navdiv {
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.logo a {
  font-size: 25px;
  font-weight: 150;
  color: white;
  text-decoration: none;
}


.navdiv li {
  list-style: none;
  display: inline-block;
}

li a {
  color: white;
  font-size: 15px;
  font-weight: 300;
  margin-right: 4px;
  text-decoration: none;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}



.staff-pic {
  width: 80%;
}

/* 
.icon-bar {
  padding-top: 40px;
  padding-left: 15px;
} */

.first-header h1 {
  width: 400px;
  height: 120px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.2px;
}

.first-header p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 110;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #ffffff;
  gap: 10px;
}

.first-header {

}

.first-page-content {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.first-page {
  /*   display: flex;
  justify-content: center;
  align-items: center; */
  /*   height: 823px;
  left: 0px;
  right: 0px;
  top: 0px; */
  background: rgba(0, 0, 0, 0.4);
  gap: 18vw;
  height: 718px;
  width: 100%;
  border: 2px solid pink;
}

.first-header .to-btn {
  border-radius: 20px;
  margin-top: 20px;
  background-color: #ffa62b;
  color: #ffffff;
  padding: 16px 30px;
  border: 1px solid #ffa62b;
}

.first-header .fro-btn {
  border-radius: 20px;
  margin-top: 20px;
  background-color: transparent;
  color: #fff;
  padding: 16px 30px;
  border: 1px solid #fff;
}

.box1 {
 width: ;
}

.box1 h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  border-radius: 1px;
}

.container2 {
  background-color: #252b42;
  width: 100%;
  height: 500px;
}

.content2 {
  padding-top: 50px;
}

.container2 .content2 {
  text-align: center;
}

.content2 h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.content2 p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 110;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #ffffff;
  gap: 15px;
}

.box2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  width: 200px;
}

.card ul {
  padding: 25px 40px;
  list-style: none;
  line-height: 1.2em;
}

.card li {
  line-height: 0.2em;
}

.b2 {
  background: #d9edff;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.cardelmt{
  margin-bottom: 20px;
}


.spanbtn {
  color: blue;
  padding-left: 35px;
  
}

.b2 img {
  background: #ffffff;
  border-radius: 50%;
  padding: 5px;
}

.container3 {
  background-color: #252b42;
  width: 100%;
  height: 732px;
  align-items: center;
}

.content3{
  padding-top: 50px;
}

.content3 p {
  font-family: "Montserrat";
  font-style: normal;
  text-align: center;
  font-weight: 110;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #ffffff;
  gap: 15px;
}

.content3 h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-align: center;
}

.filter-img {
  display: flex;
  justify-content: center;

  align-items: center;
  background-image: url("../images/cover.jpg");
  padding-top: 60px;
  width: 60%;
  height: 385px;
  background-repeat: no-repeat;
  margin-inline: auto;
  margin-top: 50px;
}

.box3 {
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.container4 {
  background-color: #252b42;
  width: 100%;
  height: 80vh;
  align-items: center;
}

.content4{
  padding-top: 80px;
}

.content4 p {
  font-family: "Montserrat";
  font-style: normal;
  text-align: center;
  font-weight: 110;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #ffffff;
  gap: 15px;
}

.content4 h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-align: center;
}

.ratingboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 200;
  height: 40%;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  border: 2px solid blue;
}

.admin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  margin-top: 20px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
}

.fa-icons {
  color: #F3CD03;
  /* padding: 5px; */
  display: flex;
  justify-content: left;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.container p span {
  color: lightcoral;
}

.container5 {
  background-color: #252b42;
  width: 100%;
  height: 80vh;
  align-items: center;
}

.content5 p {
  font-family: "Montserrat";
  font-style: normal;
  text-align: center;
  font-weight: 110;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #ffffff;
  gap: 15px;
}

.content5 p {
  font-family: "Montserrat";
  font-style: normal;
  text-align: center;
  font-weight: 110;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #ffffff;
  gap: 15px;
}

.content5 h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-align: center;
}

.card-pics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;

}

.pic1 {
  /* width: 328px; */
  width: 260px;
  height: 373px;
  background: #FFFFFF;
}

.staff-member {
  line-height: 1.5em;
}

.staff-member h2 {
  text-align: center;
  margin-top: 15px;
}

.staff-member p {
  text-align: center;
  margin-top: 5px;
}

.staff-member ul {
  display: flex;
  text-align: center;
  justify-content: center;
  color: blue;
  text-decoration: unset;
  list-style: none;
  gap: 2px;
}

.container6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.291), rgba(0, 0, 0, 0.223)), url(../images/mates.png);
  background-repeat: no-repeat;
  height: fit-content;
  /* padding: 15% 10%; */
  overflow: hidden;
}

.box {
  padding: 15px 61px;
  background: #F9F9F9;
}

/* .box1 {
  padding: 15px 60px;
  background: #F9F9F9;

} */

.psl-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 51%;
  height: 50px;
  padding-bottom: 15px;
  /* background: #F9F9F9; */


}

.sect-head p {
  margin-bottom: 7px;
}

.sect-head h2 {
  margin-bottom: 15px;
}

.ctn2 select {
  position: relative;
  width: 290px;
  height: 50px;
  background: #F9F9F9;
}

.slt-btn {
  display: flex;
  gap: 15px;
  border-radius: 5px;
}

.text .head3 {
  box-sizing: border-box;
  width: 598px;
  height: 140px;
  background: #F9F9F9;
}

.btn {
  background-color: #FFA62B;
  color: #d9edff;
  align-items: center;
  padding: 15px 40px;
  border-radius: 5px;
  /* gap: 10px; */
}

.white-intersection {
  /* height: 15vh; */
  background: #FFFFFF;
}

.w-i-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
}

.div-title {
  line-height: 2em;
}

.div-title h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.2;

}

.div-title p {
  font-size: 14px;
  font-weight: 500;

}

.submit1 {}

.submit1 .btn {
  background-color: #FFA62B;
  color: #d9edff;
  align-items: center;
  padding: 15px 40px;
}

.foothead {
  display: flex;
  justify-content: space-around;
  gap: 330px;
  background-color: #252B42;

}

.fa-icons1 ul {
  display: flex;
  padding: 10px 0;
  gap: 10px;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: blue;
}

.headf1 h1 {
  color: #FFFFFF;
}

footer {
  height: 60vh;
}

.footer-id {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
  /* align-items: center; */
  gap: 60px;
  color: #FFFFFF;
  background-color: #252B42;
  height: 270px;
}

.fetch {
  display: flex;
  flex-direction: column;
  border: 3px solid blueviolet;
  gap: 15px;

}

.fetch h2 {
  margin-bottom: 10px;
}

.foot1 h2 {
  line-height: 1.5em;
}



.box-btn {
  display: flex;
}

.btn1 {
  background-color: white;
  color: gray;
  align-items: center;
  padding: 15px 40px;
}

.footer-id .foot1 {
  align-items: center;
}

.list ul {
  text-decoration: none;
  list-style: none;
  line-height: 2em;
}

.fufooter {
  background-color: #16697A;
  height: 100px;
}

.fufooter p {
  padding: 17px 17px 0px 220px
}

@media screen and (max-width :700) {
  body {
    background-color: red;
  }

  .navbar {
    width: 96%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}